.page {
    font-family: Arial, sans-serif;
    max-width: 1280px;
    margin: 30px auto;
}

.page-nav {
    border: 2px solid blueviolet;
    padding: 10px 10px 400px 10px;
}

a {
    color: rgb(187, 43, 110);
    text-decoration: none;
    text-transform: capitalize;
}

.header-nav {
    border: 1px solid black;
    /* background: rgb(6, 6, 22); */
    text-align: left;
    margin: 30px 0;
}

.header-menu {
    display: inline-block;
}

.header-menu-item {
    display: inline-block;
}

.header-menu-link {
    display: inline-block;
    padding: 20px 30px;
    font-size: 24px;
    
}

.header-menu-link:hover {
    color: rgb(51, 38, 88);
    text-decoration: none;
}

.submenu {
    display: none;
    /* position: absolute;
    width: 120px;
    top: 37px;
    left: 0; */
    background-color: white;
    border: 1px solid red;
}

.header-menu-link:focus ~ .submenu, 
.header-menu-link:active ~ .submenu, 
.submenu:hover 
{ 
   display: block; 
} 