.page-wrapper {
    font: large/1.556 "Libertine", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
    max-width: 960px;
    margin: 0 auto;
    word-spacing: 0.1em;
    padding: 30px 0;
}

.head-menu {
    margin: 22px 0;
    text-align: inherit;
    font-size: large;

}

a:link:hover, a:visited:hover {
    border-bottom: 1px solid;
}

a {
    text-decoration: none;
    color: brown;
}

a:visited {
    color: RosyBrown;
}

.peage-menu {
    text-align: center;
    text-decoration: none;
}

h1 {
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
    margin: 55px 0;
}

h2 {
    text-align: left;
    text-transform: inherit;
    margin: 35px 0;
    font-size: 210%;
}

.video {
    float: right;
    margin: 0 0 24px 24px;
    width: 226px;
    height: 166px;
}

p {
    margin: 22px 0;
    font-size: large;
}

.forms {
    float: left;
    margin: 0 25px 25px 0;
    width: 135px;
    height: 200px;

}


.copy {
    text-align: center;
    margin: 21px 0;
    font-size: medium;
    clear: both;
}

.copy-stud {
    color: black;
}

.searches {
    text-align: center;
    clear: both;
}

.markup {
    float: right;
    margin: 0 0 25px 25px;
    width: 226px;
    height: 166px;
}

.real {
    float: left;
    margin: 0 25px 25px 0;
    width: 227px;
    height: 192px;
}

.gears {
    float: right;
    margin: 0 0 25px 25px;
    width: 125px;
    height: 75px;
}


.table {
    margin: 60px 0 25px 0;
}

.table h4 {
    margin: 0;
    padding: 4px 4px 4px 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
}

.money {
    border: 1px solid black;
    padding-bottom: 100px;

}

.money-img {
    float: right;
    margin: 25px -25px 0 40px;
}